<!doctype html>
<html class="no-js" lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>myTeacher</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- <link rel="manifest" href="site.webmanifest"> -->
	<link rel="shortcut icon" type="image/x-icon" href="../../img/favicon.png">
	<!-- Place favicon.ico in the root directory -->

	<!-- CSS here -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/css/magnific-popup.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/themify-icons.css">
	<link rel="stylesheet" href="/css/nice-select.css">
	<link rel="stylesheet" href="/css/flaticon.css">
	<link rel="stylesheet" href="/css/gijgo.css">
	<link rel="stylesheet" href="/css/animate.css">
	<link rel="stylesheet" href="/css/slicknav.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/mystyle.css">


	<!-- <link rel="stylesheet" href="css/responsive.css"> -->
	<script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"
		integrity="sha384-3Nqiqht3ZZEO8FKj7GR1upiI385J92VwWNLj+FqHxtLYxd9l+WYpeqSOrLh0T12c" crossorigin="anonymous">

	</script>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>

	<script type="text/javascript">
		$(document).ready(function () {
			$('#delete-modal').on('show.bs.modal', function (event) {
				var button = $(event.relatedTarget);
				var data = button.data('id');

				var modal = $(this);

				var a = modal.find('.modal-body a')[0];
				a.href = a.href + data;

			});
		});

		$(document).ready(function () {
			$('#add-plan-modal').on('show.bs.modal', function (event) {
				var button = $(event.relatedTarget);
				var data = button.data('id');

				var modal = $(this);

				var a = modal.find('.modal-body a')[0];
				a.href = a.href + data;

			});
		});
	</script>

</head>

<body>

	<!-- header-start -->
	<header>
		<div class="header-area ">
			<div id="sticky-header" class="main-header-area">
				<div class="container-fluid p-0">
					<div class="row align-items-center no-gutters">
						<div class="col-xl-2 col-lg-2">
							<div class="logo-img">
								<a href="index.html"> <img src="/img/logo.png" alt="">
								</a>
							</div>
						</div>
						<div class="col-xl-7 col-lg-7">
							<div class="main-menu  d-none d-lg-block">
								<nav>
									<ul id="navigation">



										<li><a href="/user/user.html">Mis Clases</a></li>

										<li><a href="/user/calendar.html">Calendario</a></li>

										<li><a href="/user/profile.html">Mi Perfil</a></li>

										<li><a href="/user/studyplan.html" class="active">Mis
												planes</a></li>

										<li th:switch="${session.userAdmin==true}"><a th:case="true"
												href="/admin/admin.html">Administrar
												Servidor</a></li>

									</ul>
								</nav>
							</div>
						</div>
						<div class="col-xl-3 col-lg-3 d-none d-lg-block">
							<div class="log_chat_area d-flex align-items-center">

								<a href="/logout" class="login"> <i class="flaticon-user"></i>
									<span>Salir</span>
								</a>
								<div class="live_chat_btn">
									<a class="boxed_btn_orange"
										href="https://wa.me/+34692551318?text=Hola quisiera información referente a MyTeacher acerca de:">
										<i class="fa fa-phone"></i> <span>+34 692 551 318</span>
									</a>
								</div>
							</div>
						</div>
						<div class="col-12">
							<div class="mobile_menu d-block d-lg-none"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- header-end -->

	<!-- bradcam_area_start -->
	<div class="bradcam_area breadcam_bg overlay2">
		<h3>Planes Disponible</h3>


		<!-- Table-Start -->

		<div id="UserTable" class="row col-6">
			<div class="table-responsive ">
				<table class="table">
					<thead class="thead-dark">
						<tr>

							<th scope="col">Nombre</th>
							<th scope="col">Nº Sesiones</th>
							<th scope="col">Precio</th>
							<th scope="col"></th>

						</tr>
					</thead>
					<tbody>
						<tr th:each="listPlan: ${listPlan}">

							<td th:text="${listPlan.codename}">codename</td>
							<td th:text="${listPlan.numberofsessions}">startdate</td>
							<td th:text="${listPlan.price} + '€'">endingdate</td>


							<td class="operation">
								<button class="btn btn-info" data-toggle="modal" data-target="#add-plan-modal"
									th:data-id="${listPlan.idstudyplan}">Comprar</button>
							</td>


						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<!-- Table-End -->
		<br>
		<br>
		<br>
		<br>









	</div>
	<!-- bradcam_area_end -->

	<!-- edit form column -->
	<div class="row justify-content-md-center">
		<div class="text-center col-12" id="purchasePlan">Planes Adquiridos</div>


		<!-- Table-Start -->
		<div id="listUserTable" class="row col-12">
			<div class="table-responsive ">
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Plan</th>
							<th scope="col">Fecha Inicio</th>
							<th scope="col">Fecha Final</th>
							<th scope="col">Sesiones Restantes</th>
							<th scope="col">Precio Pagado</th>
							<th scope="col">Opciones</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="userStudyPlan: ${userStudyPlan}">

							<td th:text="${userStudyPlan.studyPlan.codename}">codename</td>
							<td th:text="${userStudyPlan.startdate}">startdate</td>
							<td th:text="${userStudyPlan.endingdate}">endingdate</td>
							<td th:text="${userStudyPlan.remainingsessions}">remainingsession</td>
							<td th:text="${userStudyPlan.paidup}">paidup</td>

							<td class="operation">
								<button class="btn btn-danger" data-toggle="modal" data-target="#delete-modal"
									th:data-id="${userStudyPlan.userplanid}">Eliminar</button>
							</td>


						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- Table-End -->

	</div>

	<!-- Modal -->
	<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" data-backdrop="false">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Eliminar Plan</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>

				</div>
				<div class="modal-body">
					<p>¿Está usted seguro de eliminar este plan?</p>
					<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
					<a href="/user/deletestudyplan/" class="btn btn-danger">Sí</a>
				</div>
			</div>

		</div>
	</div>
	<!-- Modal-End -->

	<!-- Modal -->
	<div class="modal fade" id="add-plan-modal" tabindex="-1" role="dialog" data-backdrop="false">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Añadir Plan</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>

				</div>
				<div class="modal-body">
					<p>¿Quieres añadir este plan?</p>
					<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
					<a href="/user/addstudyplan/" class="btn btn-danger">Sí</a>
				</div>
			</div>

		</div>
	</div>
	<!-- Modal-End -->




	<!-- footer -->
	<footer class="footer footer_bg_1">
		<div class="footer_top">
			<div class="container">
				<div class="row">
					<div class="col-xl-4 col-md-6 col-lg-4">
						<div class="footer_widget">
							<div class="footer_logo">
								<a href="index.html"> <img src="/img/logo.png" alt="">
								</a>
							</div>
							<p>Proyecto para el final de grado de Desarrollo de
								Aplicaciones Multiplataforma, se ha usado diversas tecnologías,
								entre ellas, JAVA, SPRING FRAMEWORK, BOOTSTRAP, HTML5 y más
								tecnologías susyacentes de JAVA, como el uso de MAVEN, JPA,
								HIBERNATE, etc...</p>
							<div class="socail_links">
								<ul>
									<li><a href="#"> <i class="ti-facebook"></i>
										</a></li>
									<li><a href="#"> <i class="ti-twitter-alt"></i>
										</a></li>
									<li><a href="#"> <i class="fab fa-instagram-square"></i>
										</a></li>
									<li><a href="#"> <i class="fab fa-youtube-square"></i>
										</a></li>
								</ul>
							</div>

						</div>
					</div>

					<div class="col-xl-3 col-md-6 col-lg-3">
						<div class="footer_widget">
							<h3 class="footer_title">Diercción:</h3>
							<p>
								I.E.S. De Alquerías<br> Calle Francisco José Vicente Ortega
								<br> +34 968 81 05 54 <br> 30580 Alquerías <a href="http://www.iesdealquerias.es/"
									target="black">
									http://www.iesdealquerias.es/ </a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="copy-right_text">
			<div class="container">
				<div class="footer_border"></div>
				<div class="row">
					<div class="col-xl-12">
						<p class="copy_right text-center">
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							Copyright 2020 All rights reserved | This template is made with <i class="fa fa-heart-o"
								aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- footer -->

	<script th:inline="javascript">
		/*<![CDATA[*/

		var username = /*[[${session.user.name}]]*/ 'Nombre';
		var userNameId = document.getElementById("name");



		/*]]>*/
	</script>

	<!-- JS here -->
	<script src="/js/vendor/modernizr-3.5.0.min.js"></script>
	<script src="/js/vendor/jquery-1.12.4.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/isotope.pkgd.min.js"></script>
	<script src="/js/ajax-form.js"></script>
	<script src="/js/waypoints.min.js"></script>
	<script src="/js/jquery.counterup.min.js"></script>
	<script src="/js/imagesloaded.pkgd.min.js"></script>
	<script src="/js/scrollIt.js"></script>
	<script src="/js/jquery.scrollUp.min.js"></script>
	<script src="/js/wow.min.js"></script>
	<script src="/js/nice-select.min.js"></script>
	<script src="/js/jquery.slicknav.min.js"></script>
	<script src="/js/jquery.magnific-popup.min.js"></script>
	<script src="/js/plugins.js"></script>
	<script src="/js/gijgo.min.js"></script>
	<script src="/js/myjs.js"></script>

	<!--contact js-->
	<script src="/js/contact.js"></script>
	<script src="/js/jquery.ajaxchimp.min.js"></script>
	<script src="/js/jquery.form.js"></script>
	<script src="/js/jquery.validate.min.js"></script>
	<script src="/js/mail-script.js"></script>

	<script src="/js/main.js"></script>

	<!-- icons -->
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

</body>

</html>