<!doctype html>
<html class="no-js" lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>myTeacher</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- <link rel="manifest" href="site.webmanifest"> -->
	<link rel="shortcut icon" type="image/x-icon" href="./img/favicon.png">
	<!-- Place favicon.ico in the root directory -->

	<!-- CSS here -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/css/magnific-popup.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/themify-icons.css">
	<link rel="stylesheet" href="/css/nice-select.css">
	<link rel="stylesheet" href="/css/flaticon.css">
	<link rel="stylesheet" href="/css/gijgo.css">
	<link rel="stylesheet" href="/css/animate.css">
	<link rel="stylesheet" href="/css/slicknav.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/mystyle.css">

	<!-- <link rel="stylesheet" href="css/responsive.css"> -->
	<script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"
		integrity="sha384-3Nqiqht3ZZEO8FKj7GR1upiI385J92VwWNLj+FqHxtLYxd9l+WYpeqSOrLh0T12c" crossorigin="anonymous">

	</script>

</head>

<body>
	<!-- header-start -->
	<header>
		<div class="header-area ">
			<div id="sticky-header" class="main-header-area">
				<div class="container-fluid p-0">
					<div class="row align-items-center no-gutters">
						<div class="col-xl-2 col-lg-2">
							<div class="logo-img">
								<a href="index.html"> <img src="/img/logo.png" alt="logo">
								</a>
							</div>
						</div>
						<div class="col-xl-7 col-lg-7">
							<div class="main-menu  d-none d-lg-block">
								<nav>
									<ul id="navigation">
										<li><a href="index.html">Inicio</a></li>

										<li><a href="prices.html">Precios</a></li>

										<li><a href="register.html">Clase Gratuita</a></li>


										<li><a href="register.html">Registro</a></li>

										<li><a href="contact.html">Contacto</a></li>

										<li><a href="about.html"><i class="ti-angle-down"></i>
												Sobre Nosotros</a>
											<ul class="submenu">

												<li><a href="teachers.html">Profesores</a></li>
												<li><a href="method.html">Método de Estudio</a></li>
												<li><a href="level.html">Nivel Necesario</a></li>
												<li><a href="privacypolicy.html">Política de
														Privacidad</a></li>
												<li><a href="about.html">¿Quién Somos?</a></li>
											</ul>
										</li>
									</ul>
								</nav>
							</div>
						</div>
						<div class="col-xl-3 col-lg-3 d-none d-lg-block">
							<div class="log_chat_area d-flex align-items-center">

								<a href="/user/user"> <i class="flaticon-user"></i> <span id="spanLogin">Entrar</span>
								</a>


								<div class="live_chat_btn">
									<a class="boxed_btn_orange"
										href="https://wa.me/+34692551318?text=Hola quisiera información referente a MyTeacher acerca de:">
										<i class="fa fa-phone"></i> <span>+34 692 551 318</span>
									</a>
								</div>
							</div>
						</div>
						<div class="col-12">
							<div class="mobile_menu d-block d-lg-none"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- header-end -->

	<!-- bradcam_area_start -->
	<div class="bradcam_area breadcam_bg overlay2">
		<div class="col-xl-12 col-md-12">
			<div id="loginUser">
				<h3 class="text-center text-white pt-5">Login</h3>
				<div class="containerLogin">
					<div id="login-row" class="row justify-content-center align-items-center">
						<div id="login-column" class="col-md-6 row justify-content-center align-items-center">
							<div id="login-box" class="col-md-12">
								<form id="login-form" class="form" th:action="@{/login}" method="post">

									<div class="form-group">
										<label for="username" class="text-info">Correo
											Electrónico:</label><br> <input type="text" name="username" id="username"
											class="form-control">
									</div>
									<div class="form-group">
										<label for="password" class="text-info">Password:</label><br>
										<input type="password" name="password" id="password" class="form-control">
									</div>
									<div class="form-group">
										<input type="submit" name="submit" class="btn btn-info btn-md" value="Entrar">
									</div>
									<br>
									<div id="register-link" class="text-right">
										<a href="register.html" class="text-info">Retgistrese</a>
									</div>
								</form>
							</div>
						</div>

						<div class="col-md-12 row justify-content-center align-items-center">
							<div th:if="${param.error}" class="alert alert-danger" role="alert">Nombre de Usuario o
								Clave erronea.</div>
							<div th:if="${param.logout}" class="alert alert-success" role="alert">Ha Cerrado Sesión.
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- bradcam_area_end -->

	<!-- reference_start -->
	<div class="our_courses">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					<div class="section_title text-center mb-100">
						<h3>Bienvenido Usuari@</h3>
						<p>
							Alta en nuestro sistema, escoja un plan a su medida, <br>
							seleccione una fecha para su clase, un profesor se pondrá en
							contacto con usted. <br> Simple y rápido.
						</p>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- reference_end -->

	<!-- footer -->
	<footer class="footer footer_bg_1">
		<div class="footer_top">
			<div class="container">
				<div class="row">
					<div class="col-xl-4 col-md-6 col-lg-4">
						<div class="footer_widget">
							<div class="footer_logo">
								<a href="index.html"> <img src="/img/logo.png" alt="">
								</a>
							</div>
							<p>Proyecto para el final de grado de Desarrollo de
								Aplicaciones Multiplataforma, se ha usado diversas tecnologías,
								entre ellas, JAVA, SPRING FRAMEWORK, BOOTSTRAP, HTML5 y más
								tecnologías susyacentes de JAVA, como el uso de MAVEN, JPA,
								HIBERNATE, etc...</p>
							<div class="socail_links">
								<ul>
									<li><a href="#"> <i class="ti-facebook"></i>
										</a></li>
									<li><a href="#"> <i class="ti-twitter-alt"></i>
										</a></li>
									<li><a href="#"> <i class="fab fa-instagram-square"></i>
										</a></li>
									<li><a href="#"> <i class="fab fa-youtube-square"></i>
										</a></li>
								</ul>
							</div>

						</div>
					</div>

					<div class="col-xl-3 col-md-6 col-lg-3">
						<div class="footer_widget">
							<h3 class="footer_title">Diercción:</h3>
							<p>
								I.E.S. De Alquerías<br> Calle Francisco José Vicente Ortega
								<br> +34 968 81 05 54 <br> 30580 Alquerías <a href="http://www.iesdealquerias.es/"
									target="black">
									http://www.iesdealquerias.es/ </a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="copy-right_text">
			<div class="container">
				<div class="footer_border"></div>
				<div class="row">
					<div class="col-xl-12">
						<p class="copy_right text-center">
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							Copyright 2020 All rights reserved | This template is made with <i class="fa fa-heart-o"
								aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- footer -->

	<!-- JS here -->
	<script src="/js/vendor/modernizr-3.5.0.min.js"></script>
	<script src="/js/vendor/jquery-1.12.4.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/isotope.pkgd.min.js"></script>
	<script src="/js/ajax-form.js"></script>
	<script src="/js/waypoints.min.js"></script>
	<script src="/js/jquery.counterup.min.js"></script>
	<script src="/js/imagesloaded.pkgd.min.js"></script>
	<script src="/js/scrollIt.js"></script>
	<script src="/js/jquery.scrollUp.min.js"></script>
	<script src="/js/wow.min.js"></script>
	<script src="/js/nice-select.min.js"></script>
	<script src="/js/jquery.slicknav.min.js"></script>
	<script src="/js/jquery.magnific-popup.min.js"></script>
	<script src="/js/plugins.js"></script>
	<script src="/js/gijgo.min.js"></script>

	<!--contact js-->
	<script src="/js/contact.js"></script>
	<script src="/js/jquery.ajaxchimp.min.js"></script>
	<script src="/js/jquery.form.js"></script>
	<script src="/js/jquery.validate.min.js"></script>
	<script src="/js/mail-script.js"></script>

	<script src="/js/main.js"></script>

	<!-- icons -->
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

</body>

</html>