<!doctype html>
<html class="no-js" lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>myTeacher</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- <link rel="manifest" href="site.webmanifest"> -->
	<link rel="shortcut icon" type="image/x-icon" href="../img/favicon.png">
	<!-- Place favicon.ico in the root directory -->

	<!-- CSS here -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/css/magnific-popup.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/themify-icons.css">
	<link rel="stylesheet" href="/css/nice-select.css">
	<link rel="stylesheet" href="/css/flaticon.css">
	<link rel="stylesheet" href="/css/gijgo.css">
	<link rel="stylesheet" href="/css/animate.css">
	<link rel="stylesheet" href="/css/slicknav.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/mystyle.css">



	<!-- <link rel="stylesheet" href="css/responsive.css"> -->
	<script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"
		integrity="sha384-3Nqiqht3ZZEO8FKj7GR1upiI385J92VwWNLj+FqHxtLYxd9l+WYpeqSOrLh0T12c" crossorigin="anonymous">
	</script>

</head>

<body>
	<!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

	<!-- header-start -->
	<header>
		<div class="header-area ">
			<div id="sticky-header" class="main-header-area">
				<div class="container-fluid p-0">
					<div class="row align-items-center no-gutters">
						<div class="col-xl-2 col-lg-2">
							<div class="logo-img">
								<a href="index.html"> <img src="../img/logo.png" alt="">
								</a>
							</div>
						</div>
						<div class="col-xl-7 col-lg-7">
							<div class="main-menu  d-none d-lg-block">
								<nav>
									<ul id="navigation">
										<li><a href="index.html">Inicio</a></li>

										<li><a href="prices.html">Precios</a></li>

										<li><a href="register.html">Clase Gratuita</a></li>


										<li><a href="register.html">Registro</a></li>

										<li><a href="contact.html">Contacto</a></li>

										<li><a href="about.html" class="active"><i class="ti-angle-down"></i> Sobre
												Nosotros</a>

											<ul class="submenu">

												<li><a href="teachers.html">Profesores</a></li>
												<li><a href="method.html">Método de Estudio</a></li>
												<li><a href="level.html">Nivel Necesario</a></li>
												<li><a href="privacypolicy.html" class="active">Política
														de Privacidad</a></li>
												<li><a href="about.html">¿Quién Somos?</a></li>
											</ul>
										</li>


									</ul>
								</nav>
							</div>
						</div>
						<div class="col-xl-3 col-lg-3 d-none d-lg-block">
							<div class="log_chat_area d-flex align-items-center">
								<a href="/user/user"> <i class="flaticon-user"></i> <span id="spanLogin">Entrar</span>
								</a>
								<div class="live_chat_btn">
									<a class="boxed_btn_orange"
										href="https://wa.me/+34692551318?text=Hola quisiera información referente a MyTeacher acerca de:">
										<i class="fa fa-phone"></i> <span>+34 692 551 318</span>
									</a>
								</div>
							</div>
						</div>
						<div class="col-12">
							<div class="mobile_menu d-block d-lg-none"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- header-end -->

	<!-- bradcam_area_start -->
	<div class="bradcam_area breadcam_bg overlay2">
		<div class="col-xl-12 col-md-12">
			<div class="illastrator_png">
				<img src="../img/banner/edu_ilastration.png" alt="">
			</div>
		</div>
		<h3>Política de Privacidad</h3>
	</div>
	<!-- bradcam_area_end -->

	<!-- Start Sample Area -->
	<section class="sample-text-area">
		<div class="container box_1170">

			<h3 class="text-heading">POLÍTICA DE PRIVACIDAD</h3>

			<p class="sample-text">El presente Política de Privacidad
				establece los términos en que MyTeacher usa y protege la información
				que es proporcionada por sus usuarios al momento de utilizar su
				sitio web. Esta compañía está comprometida con la seguridad de los
				datos de sus usuarios. Cuando le pedimos llenar los campos de
				información personal con la cual usted pueda ser identificado, lo
				hacemos asegurando que sólo se empleará de acuerdo con los términos
				de este documento. Sin embargo esta Política de Privacidad puede
				cambiar con el tiempo o ser actualizada por lo que le recomendamos y
				enfatizamos revisar continuamente esta página para asegurarse que
				está de acuerdo con dichos cambios.</p>

			<h3 class="text-heading">Información que es recogida</h3>
			<p>Nuestro sitio web podrá recoger información personal por
				ejemplo: Nombre, información de contacto como su dirección de correo
				electrónica e información demográfica. Así mismo cuando sea
				necesario podrá ser requerida información específica para procesar
				algún pedido o realizar una entrega o facturación.</p>

			<h3 class="text-heading">Uso de la información recogida</h3>
			<p>Nuestro sitio web emplea la información con el fin de
				proporcionar el mejor servicio posible, particularmente para
				mantener un registro de usuarios, de pedidos en caso que aplique, y
				mejorar nuestros productos y servicios. Es posible que sean enviados
				correos electrónicos periódicamente a través de nuestro sitio con
				ofertas especiales, nuevos productos y otra información publicitaria
				que consideremos relevante para usted o que pueda brindarle algún
				beneficio, estos correos electrónicos serán enviados a la dirección
				que usted proporcione y podrán ser cancelados en cualquier momento.</p>
			<p>MyTeacher está altamente comprometido para cumplir con el
				compromiso de mantener su información segura. Usamos los sistemas
				más avanzados y los actualizamos constantemente para asegurarnos que
				no exista ningún acceso no autorizado.</p>

			<h3 class="text-heading">Cookies</h3>
			<p>Una cookie se refiere a un fichero que es enviado con la
				finalidad de solicitar permiso para almacenarse en su ordenador, al
				aceptar dicho fichero se crea y la cookie sirve entonces para tener
				información respecto al tráfico web, y también facilita las futuras
				visitas a una web recurrente. Otra función que tienen las cookies es
				que con ellas las web pueden reconocerte individualmente y por tanto
				brindarte el mejor servicio personalizado de su web.</p>
			<p>Nuestro sitio web emplea las cookies para poder identificar
				las páginas que son visitadas y su frecuencia. Esta información es
				empleada únicamente para análisis estadístico y después la
				información se elimina de forma permanente. Usted puede eliminar las
				cookies en cualquier momento desde su ordenador. Sin embargo las
				cookies ayudan a proporcionar un mejor servicio de los sitios web,
				estás no dan acceso a información de su ordenador ni de usted, a
				menos de que usted así lo quiera y la proporcione directamente, .
				Usted puede aceptar o negar el uso de cookies, sin embargo la
				mayoría de navegadores aceptan cookies automáticamente pues sirve
				para tener un mejor servicio web. También usted puede cambiar la
				configuración de su ordenador para declinar las cookies. Si se
				declinan es posible que no pueda utilizar algunos de nuestros
				servicios.</p>

			<h3 class="text-heading">Enlaces a Terceros</h3>
			<p>Este sitio web pudiera contener en laces a otros sitios que
				pudieran ser de su interés. Una vez que usted de clic en estos
				enlaces y abandone nuestra página, ya no tenemos control sobre al
				sitio al que es redirigido y por lo tanto no somos responsables de
				los términos o privacidad ni de la protección de sus datos en esos
				otros sitios terceros. Dichos sitios están sujetos a sus propias
				políticas de privacidad por lo cual es recomendable que los consulte
				para confirmar que usted está de acuerdo con estas.</p>

			<h3 class="text-heading">Control de su información personal</h3>
			<p>En cualquier momento usted puede restringir la recopilación o
				el uso de la información personal que es proporcionada a nuestro
				sitio web. Cada vez que se le solicite rellenar un formulario, como
				el de alta de usuario, puede marcar o desmarcar la opción de recibir
				información por correo electrónico. En caso de que haya marcado la
				opción de recibir nuestro boletín o publicidad usted puede
				cancelarla en cualquier momento.</p>
			<p>Esta compañía no venderá, cederá ni distribuirá la información
				personal que es recopilada sin su consentimiento, salvo que sea
				requerido por un juez con un orden judicial.</p>
			<p>MyTeacher se reserva el derecho de cambiar los términos de la
				presente Política de Privacidad en cualquier momento.</p>
			<p>Esta politica de privacidad se han generado en
				politicadeprivacidadplantilla.com.</p>

		</div>
	</section>
	<!-- End Sample Area -->




	<!-- testimonial_area_start -->
	<div class="testimonial_area testimonial_bg_1 overlay">
		<div class="testmonial_active owl-carousel">
			<div class="single_testmoial">
				<div class="container">
					<div class="row">
						<div class="col-xl-12">
							<div class="testmonial_text text-center">
								<div class="author_img">
									<img src="/img/testmonial/author_img.png" alt="">
								</div>
								<p>
									"Increible <br> los profesores, se les ve una
									profesionalidad digna de mención. <br> ánimos con la web.
								</p>
								<span>- Sandra</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="single_testmoial">
				<div class="container">
					<div class="row">
						<div class="col-xl-12">
							<div class="testmonial_text text-center">
								<div class="author_img">
									<img src="/img/testmonial/author_img_2.png" alt="">
								</div>
								<p>
									"Un buen trabajo, me ayudarón en todo <br> momento,
									inclusive en una de mis entrevistas. <br>
								</p>
								<span>- Lisa</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- testimonial_area_end -->



	<!-- footer -->
	<footer class="footer footer_bg_1">
		<div class="footer_top">
			<div class="container">
				<div class="row">
					<div class="col-xl-4 col-md-6 col-lg-4">
						<div class="footer_widget">
							<div class="footer_logo">
								<a href="index.html"> <img src="/img/logo.png" alt="">
								</a>
							</div>
							<p>Proyecto para el final de grado de Desarrollo de
								Aplicaciones Multiplataforma, se ha usado diversas tecnologías,
								entre ellas, JAVA, SPRING FRAMEWORK, BOOTSTRAP, HTML5 y más
								tecnologías susyacentes de JAVA, como el uso de MAVEN, JPA,
								HIBERNATE, etc...</p>
							<div class="socail_links">
								<ul>
									<li><a href="#"> <i class="ti-facebook"></i>
										</a></li>
									<li><a href="#"> <i class="ti-twitter-alt"></i>
										</a></li>
									<li><a href="#"> <i class="fab fa-instagram-square"></i>
										</a></li>
									<li><a href="#"> <i class="fab fa-youtube-square"></i>
										</a></li>
								</ul>
							</div>

						</div>
					</div>

					<div class="col-xl-3 col-md-6 col-lg-3">
						<div class="footer_widget">
							<h3 class="footer_title">Diercción:</h3>
							<p>
								I.E.S. De Alquerías<br> Calle Francisco José Vicente Ortega
								<br> +34 968 81 05 54 <br> 30580 Alquerías <a href="http://www.iesdealquerias.es/"
									target="black">
									http://www.iesdealquerias.es/ </a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="copy-right_text">
			<div class="container">
				<div class="footer_border"></div>
				<div class="row">
					<div class="col-xl-12">
						<p class="copy_right text-center">
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							Copyright 2020 All rights reserved | This template is made with <i class="fa fa-heart-o"
								aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- footer -->

	<!-- JS here -->
	<script src="/js/vendor/modernizr-3.5.0.min.js"></script>
	<script src="/js/vendor/jquery-1.12.4.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/isotope.pkgd.min.js"></script>
	<script src="/js/ajax-form.js"></script>
	<script src="/js/waypoints.min.js"></script>
	<script src="/js/jquery.counterup.min.js"></script>
	<script src="/js/imagesloaded.pkgd.min.js"></script>
	<script src="/js/scrollIt.js"></script>
	<script src="/js/jquery.scrollUp.min.js"></script>
	<script src="/js/wow.min.js"></script>
	<script src="/js/nice-select.min.js"></script>
	<script src="/js/jquery.slicknav.min.js"></script>
	<script src="/js/jquery.magnific-popup.min.js"></script>
	<script src="/js/plugins.js"></script>
	<script src="/js/gijgo.min.js"></script>

	<!--contact js-->
	<script src="/js/contact.js"></script>
	<script src="/js/jquery.ajaxchimp.min.js"></script>
	<script src="/js/jquery.form.js"></script>
	<script src="/js/jquery.validate.min.js"></script>
	<script src="/js/mail-script.js"></script>

	<script src="/js/main.js"></script>

	<!-- icons -->
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>


</body>

</html>